@import "_func";

$responsive-width: 1280;
$column-width: 64px;

body {
    // background-color: #DCDBD9
    color: #2c2c2c;
    font: normal 100% Cambria, Georgia, serif;
}

a {
    color: blue;
}

.grid {
    margin: 0 auto;
    height: 0px;
    // width: 1280px // based on 1280px
    max-width: $responsive-width + px;
    display: flex;
    opacity: 0.1;

    div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: red;
        height: 100vh;
        width: $column-width;
        margin-right: 1.25%;
    }

    div:first-child {
        margin-left: 0.625%;
    }

    div:last-child {
        margin-right: 0.625%;
    }
}

// Styling
.wrapper {
    // background: silver
    margin: 0 auto;
    // max-width: 1280px
    max-width: $responsive-width + px;
    height: 100vh;
}

.container {
    padding: 0 0.625%;
}

.header {
    background: green;
    height: 80px;

    h1 {
        font-size: 300%;
    }
}

.main {
    margin: 20px 0;
    background: green;
    display: flex;

    // div:first-child{
    //     // margin-left: 0.625%;
    // }
    // div:last-child{
    //     // margin-right: 0.625%;
    // }
    // flex-flow: row nowrap
    .main__left {
        background: blue;
        height: 400px;
        // width: 74.6835443%; // 944px on 1264
        width: col(12);
        margin-right: 0.625%;
    }

    .main__right {
        background: blue;
        display: flex;
        // width: 24.05063%;
        width: col(4);
        margin-left: 0.625%;

        .aside {
            display: flex;
            flex-direction: column;
        }
    }
}

.footer {
    background: green;
    height: 100px;
}

.figure {
    // float: right
    // margin-bottom: 0.5em
    // margin-left: 2.53164557%
    // width: part(6)
    // width: part(5, .main__left.width)
    background: red;
    // overflow: hidden
}

img,
embed,
object,
video {
    // width: 100%
    max-width: 100%;
    // display: block
    // max-width: percentage(64/1200)
}