@font-face {
  font-family: SSFUIDisplay;
  src: url("../fonts/SFUIDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: SSFUIDisplay-Bold;
  font-weight: bold;
  src: url("../fonts/SFUIDisplay-Regular.otf") format("opentype");
}
