@import url("reset.css");
@import url("../fonts/fonts.css");

* {
  letter-spacing: 0.05rem;
}

html,
body {
  // background-color: #DCDBD9
  color: #2c2c2c;
  //height: 100%;
  font: normal 10pt/1rem "SSFUIDisplay";
}

.group {
  //height: 100%;
  border: 1px solid #ccc;
  margin: 4px;
  padding: 4px;
  border-radius: 2px;
  background: #eee;
  //grid-template-columns: auto minmax(0, 1fr);
}

.row {
  display: grid;
  align-content: start;
  grid-auto-flow: row;
}

.col {
  display: grid;
  align-content: start;
  //align-content: stretch;
  grid-auto-flow: column;
}

.field {
  margin: 4px;
  .field__label {
    // font-size: 90%;
    line-height: 160%;
    font-weight: bold;
    // text-shadow: 1px 1px 5px 10px red;
  }
}
input {
  //font-size: 90%;
  //font-weight: bold;
  line-height: 140%;
  // height: 16px;

  font-family: "SSFUIDisplay";
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #ddd;
  // border-top: none;
  // border-bottom: 1px solid #ddd;
  // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  ///background: #eee;
}
.message {
  border-radius: 2px;
  margin: 4px;
  padding: 16px;
  color: rgb(0, 97, 52);
  border: 1px solid rgb(0, 92, 41);
  background: rgb(181, 250, 212);
  display: grid;
  //grid-auto-rows: min-content;
  //grid-template-columns: min-content;

  //grid-auto-flow: column;
  //align-self: start;
  //font-weight: bold;
  //font-size: 80%;
  //margin-top:20px;
}
.control__actions {
  margin-top: 8px;
  border-radius: 2px;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  //grid-template-columns: auto minmax(0, 1fr);
  //background: #ddd;
  //border:1px solid transparent;
  //justify-content: end;
}
.button {
  //height: 16px;
  // font-style: italic;
  line-height: 140%;
  padding: 8px;
  border-radius: 2px;
  font-size: 100%;
  // font-weight: bold;
  text-shadow: 1px 1px 0px #000;
  //text-transform: uppercase;
  color: #fff;
  margin: 4px;
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  background-color: #637aad;
  border: 1px solid #314179;
  cursor: pointer;
  font-family: "SSFUIDisplay";
  //font-family:Arial;
  //font-size:13px;
  //font-weight:bold;
  //padding:6px 12px;

  text-decoration: none;
}
.button:hover {
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  background-color: #5972a7;
}

.end {
  justify-content: end;
}
